<div>
  <section class="hero-slider-section">
    <app-hero-slider></app-hero-slider>
    <div class="hero-form">
      <div class="responsive-container">
        <div class="row">
          <div class="column-third">
            <div class="find-cars">
              <h3 >Réservez votre voiture en 3 minutes</h3>
            </div>
          </div>
          <div class="column-two-third">
            <app-find-car-form></app-find-car-form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-about-section></app-about-section>

  <section>
    <div class="responsive-container">
      <div class="row">
        <div class="column-full">
          <h6 class="subtitle">Consultez nos</h6>
          <h2 class="title">Services populaires</h2>
        </div>
        <app-services-list></app-services-list>
      </div>
    </div>
  </section>

  <section>
    <div class="responsive-container">
      <div class="row">
        <div class="column-full">
          <h6 class="subtitle">Venez avec</h6>
          <h2 class="title">Offres exceptionnelles</h2>
        </div>
        <!--app-featured-voiture-list></app-featured-voiture-list-->
      </div>
    </div>
  </section>

  <app-become-driver-section></app-become-driver-section>

  <section>
    <div class="responsive-container">
      <div class="row">
        <div class="column-full">
          <h6 class="subtitle">Nos clients disent</h6>
          <h2 class="title">Témoignages</h2>
        </div>
        <app-testimonial></app-testimonial>
      </div>
    </div>
  </section>

  <section>
    <div class="responsive-container">
      <div class="row">
        <div class="column-full">
          <h6 class="subtitle">Découvrez nos blogs</h6>
          <h2 class="title">Derniers blogs</h2>
        </div>
        <app-blog-list></app-blog-list>
      </div>
    </div>
  </section>
</div>


<!--app-featured-voiture-list></app-featured-voiture-list-->
