.responsive-container {
  max-inline-size: 1000px; /* Reduced max width */
  margin: 0 auto;
  padding: 0 10px; /* Reduced padding */
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; /* Reduced margin */
}

.column-third, .column-two-third, .column-full {
  padding: 10px; /* Reduced padding */
}

.column-third {
  flex: 0 0 25%; /* Reduced width */
  max-inline-size: 25%; /* Reduced width */
}

.column-two-third {
  flex: 0 0 75%; /* Reduced width */
  max-inline-size: 75%; /* Reduced width */
  margin-block-start: 0; /* Removed bottom margin */
}

.column-full {
  flex: 0 0 100%;
  max-inline-size: 100%;
  text-align: center;
}

/* Hero Slider Section */
.hero-slider-section {
  position: relative;
  inline-size: 100%;
  background-color: #f5f5f5;
  padding: 15px 0; /* Reduced padding */
}

/* Hero Slider Section */
.hero-slider-section .hero-form {
  position: absolute;
  inset-block-end: calc(10% - 70px); /* Adjusted to lower by 10% */
  inset-inline-start: 50%;
  transform: translate(-50%, 0) translateX(50px); /* Corrected translation */
  inline-size: 60%; /* Reduced width */
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px; /* Reduced padding */
}

.find-cars {
  background-image: url('../../../assets/back.jpg'); 
  background-size: cover; 
  background-position: center; /* Center the image */
  padding: 20px; /* Add padding to ensure content is not too close to the edges */
  border-radius: 8px; /* Optional: Add rounded corners */
  color: rgb(244, 239, 239); /* Optional: Change text color for better contrast */
}

.find-cars h3 {
  font-size: 1.5rem;
  margin-block-end: 15px;
  color: #f5f5f5;
}

/* Find Cars Section */
.find-cars h3 {
  font-size: 1.25rem; /* Reduced font size */
  color:aliceblue;
  margin-block-end: 10px; /* Reduced margin */
}

/* Subtitle and Title */
.subtitle {
  font-size: 0.875rem; /* Reduced font size */
  color: #999;
  margin-block-end: 5px;
  text-transform: uppercase;
}

.title {
  font-size: 1.75rem; /* Reduced font size */
  font-weight: bold;
  color: #333;
  margin-block-end: 15px; /* Reduced margin */
}

/* Components */
app-featured-voiture-list,
app-testimonial,
app-blog-list,
app-about-section,
app-services-list,
app-become-driver-section {
  display: block;
  margin: 15px 0; /* Reduced margin */
}

app-become-driver-section {
  padding: 15px; /* Reduced padding */
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .column-third, .column-two-third {
    flex: 0 0 100%;
    max-inline-size: 100%;
  }
  .hero-slider-section .hero-form {
    inset-block-end: calc(10% - 30px); /* Adjusted for smaller screens */
    inline-size: 85%; /* Reduced width */
  }
}
