<section class="become__driver">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 become__driver-img"></div>

        
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2 class="section__title become__driver-title">
            Vous voulez gagner de l'argent avec nous ? Alors ne soyez pas en retard
          </h2>
  
          <button class="btn become__driver-btn mt-4">Réservez maintenant</button>
        </div>
      </div>
    </div>

  </section>
  