/* register.component.css */
.login__container {
    margin-block-start: 100px;
  }
  
  .login__img {
    inline-size: 60%;
  }
  
  .login__img img {
    inline-size: 100%;
  }
  
  .login__form {
    padding: 50px;
    background: #F7A600;
  }
  
  .login__form h2 {
    color: #fff;
    text-align: center;
  }
  
  .login__form input {
    inline-size: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
  }
  
  .auth__btn {
    background: #000d6b !important;
    color: #fff;
  }