<!-- register.component.html -->
<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">
          <div class="login__container d-flex justify-content-between">
            <div class="login__img">
              <img src="assets/all-images/register.jpg" alt="Register" />
            </div>
  
            <div class="login__form">
              <div class="user">
                <img src="assets/all-images/agns-img/agns-logo.jpg" alt="User Icon" />
              </div>
              <h2>Register</h2>
              <form (submit)="handleClick($event)">
                <div class="form-group">
                  <input type="text" placeholder="Username" required id="userName" (input)="handleChange($event)" />
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Email" required id="email" (input)="handleChange($event)" />
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" required id="password" (input)="handleChange($event)" />
                </div>
                <button class="btn secondary__btn auth__btn" type="submit">Créer</button>
              </form>
              <p>Vous avez déjà un compte? <a routerLink="/login" class='text-black'>Se connecter</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>