<!-- thank-you.component.html -->
<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 pt-5 text-center">
          <div class="thank__you">
            <span>
              <i class="ri-checkbox-circle-line"></i>
            </span>
            <h1 class="mb-3 fw-semibold">Merci</h1>
            <h3 class="mb-4">Votre voiture est réservée.</h3>
  
            <button class="btn primary__btn w-25" (click)="navigateHome()">
              Retour à l'accueil
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>