<div>
  <section class="common-section">
    <h1>À propos</h1>
  </section>

  <section>
    <div class="container">
      <div class="integr">
        <app-about-section></app-about-section>  
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="about__page-img">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="about__page-content">
           
            
            <h2 class="section__title">
              Nous nous engageons à fournir des solutions de transport sécuritaires
            </h2>

            <p class="section__description">Modifications et annulations Gratuites si nécessaire</p>
            <p class="section__description">Une équipe agréable qui parle votre langue</p>
            <p class="section__description">Tarifs Tout Compris Sans Supplément</p>
            <p class="section__description">Pas de Limitation kilométrique</p>
            <p class="section__description">Conditions claires et précises</p>
            <p class="section__description">Assistance téléphonique</p>
            <p class="section__description">Assurance Tout Risque</p>
            <p class="section__description">Service après-vente</p>
            <p class="section__description">Voitures Neuves</p>

            <div class="d-flex align-items-center gap-3 mt-4">
              <span class="fs-4">
                <i class="ri-phone-line"></i>
              </span>
              <div>
                <h6 class="section__subtitle">Besoin d'aide ?</h6>
                <h4>{{ contactNumber }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
