

<ngx-slick-carousel class="hero__slider" #slickModal="slick-carousel" [config]="settings">
  <div ngxSlickItem class="slider__item slider__item-01 mt0">
    <div class="slider__content">
      <h4 class="text-light mb-3">Les principales agences de location de voitures en un seul endroit</h4>
      <h1 class="text-light mb-4">entrez et vérifiez !</h1>
      <button class="btn reserve__btn mt-4" (click)="navigateToCars()">Réservez maintenant</button>
    </div>
  </div>

  <div ngxSlickItem class="slider__item slider__item-02 mt0">
    <div class="slider__content">
      <h4 class="text-light mb-3">Explorez notre gamme de véhicules, conçue pour répondre à toutes vos envies et besoins.</h4>
      <h1 class="text-light mb-4">Les prix les plus bas de l'univers...</h1>
      <button class="btn reserve__btn mt-4" (click)="navigateToCars()">Réservez maintenant</button>
    </div>
  </div>

  <div ngxSlickItem class="slider__item slider__item-03 mt0">
    <div class="slider__content">
      <h4 class="text-light mb-3">Les principales agences de location de voitures en un seul endroit</h4>
      <h1 class="text-light mb-4">Meilleur prix garanti</h1>
      <button class="btn reserve__btn mt-4" (click)="navigateToCars()">Réservez maintenant</button>
    </div>
  </div>
</ngx-slick-carousel>